@import '~@angular/material/theming';

$giphy-primary: mat-palette($mat-cyan);
$giphy-accent:  mat-palette($mat-red, A200, A100, A400);
$giphy-warn:    mat-palette($mat-red);

$giphy-theme: mat-light-theme((
  color: (
    primary: $giphy-primary,
    accent: $giphy-accent,
    warn: $giphy-warn,
  )
));

$main-font-family: Roboto, "Helvetica Neue", sans-serif;

$custom-typography: mat-typography-config(
  $font-family: $main-font-family
);
