<form [formGroup]="form" (ngSubmit)="doSearch()">
  <mat-form-field appearance="outline">
    <mat-label>Search giphy</mat-label>
    <input matInput placeholder="Type in your query" formControlName="q">
    <mat-icon matSuffix>search</mat-icon>
    <mat-error *ngIf="form.get('q')?.invalid">
      <p *ngIf="form.get('q')?.hasError('required')">Please, enter a query</p>
      <p *ngIf="form.get('q')?.hasError('bad-words')">
        Please, do NOT enter profanity in you query. Delete the following profane words: <del>{{ form.get('q')?.getError('bad-words') }}</del></p>
    </mat-error>
  </mat-form-field>
  <button type="submit" mat-button mat-raised-button color="primary">
    search
  </button>
</form>
