<mat-list *ngIf="giphies?.length ; else empty">
  <mat-list-item *ngFor="let giph of giphies">
    <div>
      <img [src]="giph.url">
      <span class="mat-caption" [ngStyle]="{'width.px': giph.width}">{{giph.title}}</span>
    </div>
  </mat-list-item>
</mat-list>
<ng-template #empty>
  no result ...
</ng-template>
