:host {
  padding: 24px;
  display: block;
}

mat-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.mat-list-base {
  .mat-list-item {
    height: 260px;
    width: auto;
    position: relative;

    img {
      display: block;
    }

    span {
      display: block;
      text-align: center;
    }
  }
}

