@import 'theme';

mat-icon {
  font-size: 64px;
  height: 80px;
  width: 64px;
}

div {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: mat-color($giphy-warn, 500);
  font-family: mat-font-family($custom-typography);
}
