<app-search-form (search)="onSearch()"></app-search-form>
<div *ngIf="result$ | async as result; else loader">
  <app-search-paginator
    *ngIf="result?.pagination && result?.data &&  result?.data.length"
    [pagination]="result.pagination">
  </app-search-paginator>
  <app-search-result
    *ngIf="result?.data"
    [giphies]="result.data"
  ></app-search-result>
  <app-search-paginator
    *ngIf="result?.pagination && result?.data &&  result?.data.length"
    [pagination]="result.pagination">
  </app-search-paginator>
  <app-search-error
    *ngIf="result?.error"
    [message]="result.error.message">
  </app-search-error>
</div>

<ng-template #loader>
  <div *ngIf="loading" class="loader">
    <mat-progress-spinner
      mode="indeterminate"
    >
    </mat-progress-spinner>
  </div>
</ng-template>
